#carouselExampleIndicators{
    background-color: rgb(182, 182, 182);
}


.carousel-caption{ 
    font-size: 30px;
    align-items: center;
    color: rgb(255, 255, 255);
}
body{
    
    box-sizing: border-box;
    align-items: center;
    min-height: 100vh;
}


#contact{
    position:relative;
    left:500px;
    margin-top: 30vh;
    width: 1000px;
    height: 30px;
}

#text-contact{

    position:relative;
    left: 500px;
    margin-top: 10vh;
}
#color-background4{
    background-color: aliceblue;
    width: max-content;
    height: max-content;
}

.jumbotron {
    background: #0b75c7;
    color: #FFF;
    border-radius: 200px;
    }

.container .card{
    position: relative;
    padding: 10px;
    width: 300px;
    background-color: #FFF;
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
    }
.container .card img{
    transition: 0.5s;
    }

.container .card h1{
        font-size: 2rem;
    }

.container .card .content{
    padding: 20px;
    text-align: center;
}
.card{
    position:relative;
    left: 800px;
    margin-top: 10vh;
    padding: 20px;
    text-align: center;
}